.button {
  width: 100px;
  height: 30px;
  background-color: rgb(127, 127, 250);
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: rgb(242, 250, 127);
}

.button:not(:last-child) {
  margin-right: 20px;
}
